# adblock @ file:///build/python-adblock/src/python-adblock-0.6.0/target/wheels/adblock-0.0.0-cp37-abi3-manylinux_2_34_x86_64.whl#sha256=6392b1028ef17173abcea90c70e5509d90472ca47f7205a5ee7fd3d81c49451b
# airdrop-ng==1.1
# airgraph-ng==1.1
anki==25.2
anyio==4.8.0
appdirs==1.4.4
aqt==25.2
argcomplete==3.5.3
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
asttokens==3.0.0
async-lru==2.0.5
# attrs==23.2.1.dev0
autocommand==2.2.2
Babel==2.15.0
beautifulsoup4==4.12.3
bleach==6.2.0
# blinker==1.8.2
bowler==0.9.0
breezy==3.3.9
btrfsutil==6.14
build==1.2.2
CacheControl==0.14.2
cachy==0.3.0
cairocffi==1.6.1
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
cleo==2.1.0
click==8.1.8
colorama==0.4.6
colorlog==6.9.0
comm==0.2.2
configobj==5.0.9
crashtest==0.4.1
cryptography==44.0.2
# dbus-python==1.4.0
# dbus_next==0.2.3
decorator==5.1.1
defusedxml==0.7.1
distlib==0.3.9
distro==1.9.0
docopt==0.6.2
dulwich==0.22.8
editables==0.5
executing==2.2.0
fastbencode==0.3.1
fastjsonschema==2.21.1
filelock==3.18.0
findpython==0.6.3
fissix==24.4.24
# Flask==3.1.0
flask-cors==5.0.1
# gpg==1.24.2
greenlet==3.1.1
h11==0.14.0
hatch==1.14.0
hatchling==1.27.0
html5lib==1.1
httpcore==1.0.7
httpx==0.28.1
hyperlink==21.0.0
idna==3.10
importlib_metadata==7.2.1
inflect==7.5.0
iniconfig==2.0.0
installer==0.7.0
ipykernel==6.29.5
ipython==9.1.0
ipython_pygments_lexers==1.1.1
# itsdangerous==2.1.2
# iwlib==1.7.0
jaraco.classes==3.4.0
jaraco.collections==5.1.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jaraco.text==4.0.0
jedi==0.19.2
jeepney==0.9.0
Jinja2==3.1.5
json5==0.12.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter-events==0.12.0
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyter_server==2.15.0
jupyterlab==4.4.0
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
keyring==25.6.0
keyutils==0.6
lark==1.2.2
# lensfun==0.3.4
libcst==1.5.1
# libfdt==1.7.2
libtorrent==2.0.11
lockfile==0.12.2
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib-inline==0.1.7
mdurl==0.1.2
mercurial==7.0.1
merge3==0.0.15
meson==1.7.2
mistune==3.1.3
more-itertools==10.6.0
moreorless==0.4.0
msgpack==1.0.5
mypy==1.14.0
mypy_extensions==1.0.0
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nest_asyncio==1.6.0
notebook==7.4.0
notebook_shim==0.2.4
nox==2024.10.9
numpy==2.2.4
ordered-set==4.1.0
orjson==3.10.16
overrides==7.7.0
packaging==24.2
pandocfilters==1.5.1
parso==0.8.4
pathspec==0.12.1
patiencediff==0.2.15
pbs-installer==2025.3.17
pexpect==4.9.0
pkginfo==1.12.0
platformdirs==4.3.6
pluggy==1.5.0
poetry==2.1.2
poetry-core==2.1.2
poetry-plugin-export==1.9.0
prometheus_client==0.21.1
prompt_toolkit==3.0.50
protobuf==6.30.1
psutil==7.0.0
ptyprocess==0.7.0
pulsectl==24.11.0
pulsemixer==1.5.1
pure_eval==0.2.3
pycairo==1.27.0
pycparser==2.22
Pygments==2.19.1
# PyGObject==3.52.3
pynvim==0.5.2
pyproject_hooks==1.2.0
PyQt5==5.15.11
PyQt5_sip==12.17.0
PyQt6==6.9.0
PyQt6-WebEngine==6.9.0
PyQt6_sip==13.10.0
PySocks==1.7.1
pystache==0.6.5
pytest==8.3.5
python-dateutil==2.9.0
python-json-logger==3.3.0
pytz==2025.1
# pywayland==0.4.18
# pywlroots==0.17.0
pyxdg==0.28
PyYAML==6.0.2
# pyzmq==26.2.0
# qtile==0.31.1.dev0+g8666bfc8.d20250312
qutebrowser==3.4.0
RapidFuzz==3.12.2
redis==5.2.1
referencing==0.35.1
# Reflector==2023.6.28.0.36.1
regex==2024.11.6
requests==2.32.3
requests-file==2.1.0
requests-toolbelt==1.0.0
rich==14.0.0
rpds-py==0.22.3
ruamel.yaml==0.18.10
ruamel.yaml.clib==0.2.12
SecretStorage==3.3.3
Send2Trash==1.8.3
setproctitle==1.3.5
setuptools==75.8.0
shellingham==1.5.4
six==1.17.0
sniffio==1.3.1
soupsieve==2.6
stack_data==0.6.3
# TBB==0.2
tinycss2==1.4.0
tldextract==5.2.0
tomli==2.0.1
tomli_w==1.2.0
tomlkit==0.13.2
# torbrowser-launcher==0.3.7
tornado==6.4.2
tqdm==4.67.1
traitlets==5.14.3
# trove-classifiers==2025.3.19.19
typeguard==4.4.2
typing_extensions==4.12.2
typing_inspect==0.9.0
tzlocal==5.3.1
udiskie==2.5.7
unoconv==0.9.0
urllib3==2.3.0
urwid==2.6.15
userpath==1.9.2
# uv==0.6.14
# validate==5.0.9
virtualenv==20.28.0
volatile==2.1.0
waitress==3.0.2
wcwidth==0.2.13
webencodings==0.5.1
websocket-client==1.8.0
Werkzeug==3.1.3
wheel==0.45.1
xcffib==1.5.0
xkbcommon==1.5.1
# yt-dlp==2025.3.31
zipp==3.21.0
zstandard==0.23.0
